/* table-reservation.component.css */

.container {
  padding: 8px;
  background-color: #fdcd4c;
  border-radius: 20px;
}

.table {

}

.taken {
  background-color: #aaaaaa; /* Couleur pour les tables réservées */
  color: white;
}

.available {
  background-color:  #46cd6d !important;
  color: white;
}

.next-button {
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
  border-radius: 10px;
  height: 40px;
  background-color:  #f05d35 !important;
}
.next-button:hover {
  background-color: #e0522e !important;
}
.custom-checkbox:checked {
  background-color:  #46cd6d !important;
  border-color:#46cd6d !important;
}

.form-check-label {
  margin-left: 10px; /* You can adjust the value as needed */
}
h1{
  color: white;
}
