.table{
  width: 150px;
  height: 150px;
  margin: 20px;
  padding-left: 20px;
}
.taken {
  background-color: grey; /* Grey color for taken tables */
  color: white; /* Optional: text color for better contrast */
}

.available {
  background-color: green; /* Green color for available tables */
  color: white; /* Optional: text color for better contrast */
}
