.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdcc;
  padding: 20px;
  height: 100vh;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}


button.mat-raised-button {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 24px;  // Ajuste la taille de l'icône
    margin-right: 8px;  // Espace entre l'icône et le texte si nécessaire
  }
}

.back-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

h2 {
  margin: 0;
}

.counter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.decrement, .increment {
  font-size: 30px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.count-display {
  font-size: 50px;
  margin: 0 20px;
}

.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.number-pad button {
  font-size: 24px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 8px;
}

.number-pad button:hover {
  background-color: #f0f0f0;
}
