<div style="position: relative;">
  <mat-card>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <app-menu-name></app-menu-name>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-menu-name></app-menu-name>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-menu-name></app-menu-name>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-menu-name></app-menu-name>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card class="overlay-card">
  <app-central-screen>
    <mat-grid-list cols="2" rowHeight="1:1">
    </mat-grid-list>
  </app-central-screen>
  </mat-card>
</div>
