
.title-center {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}


.category{


}
.category:hover {
  transform: scale(1.05);
  background-color: #47cd6d;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categories {
  margin-top: 30px;
  padding: 20px;
}

