.category-card {
  max-width: 50%;
}

.example-header-image {
  //background-image: url();
  background-size: cover;
}
.action-card{
  display: flex;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action-button{
  width: 100%;
  color: #333333;
  border: none;
  font-size: small;
background-color: transparent;
}
.image{
  width: 100%;
  height: 100%;
}
