<nav class="navbar navbar-light" style="background-color: #fdcd4c;">
    <div class="container-fluid">
      <!-- Go Back Button -->
      <button class="btn btn-outline-primary" (click)="goBack()" style="border-color: white;">
        <i class="bi bi-arrow-left"  style="color: white;"></i>
      </button>

      <!-- Cancel Button (Redirect to Home) -->
     <!-- <button class="btn btn-outline-danger ms-auto" (click)="goHome()">
        <i class="bi bi-x-circle"></i> Cancel
      </button>-->
    </div>
</nav>

