<p>Menu works!</p>

<!-- Boutons pour filtrer les items par catégorie -->
<div class="filter-buttons">
  <button (click)="displayAllItems()">All</button>
  <button (click)="displayItemsByType('STARTER')">Starters</button>
  <button (click)="displayItemsByType('MAIN')">Main</button>
  <button (click)="displayItemsByType('BEVERAGE')">Drinks</button>
  <button (click)="displayItemsByType('DESSERT')">Desserts</button>

</div>


<div class="menu-container">
  <div *ngFor="let item of items" class="menu-item">
    <app-menu-item
      [item]="item"
      (quantityChanged)="handleQuantityChange($event)">
    </app-menu-item>
  </div>
</div>


<div class="cart" *ngIf="cart.length > 0" (click)="onCartClick()">
  <h2>Your Cart</h2>
  <div class="cart-items">
    <div *ngFor="let item of cart" class="cart-item">
      <p>{{ item.fullName }} - Quantity: {{ item.quantity }}</p>
    </div>
  </div>
  <p>Total: {{ getTotal() }} €</p>
  <button (click)="validateCart()">Validate Cart</button>
</div>
