/* table-reservation.component.css */

.container {
  padding: 20px;

}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px;
  background-color: #f5a623;

}

.table {
  width: 100%;
}

.taken {
  background-color: #aaaaaa; /* Couleur pour les tables réservées */
  color: white;
}

.available {
  background-color: #4a90e2;/* Couleur pour les tables disponibles */
  color: white;
}

.start-button {
  margin-top: 20px;
  color: white;
   background-color: #4a90e2;;
}
.start-button:hover {
  background-color: #357ab6;
}
.table-checkbox .mat-checkbox-label {
  color: #ff5722 !important;
}
