<div class="container">
  <mat-card class="home-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="mb-4">You can choose up to {{ numberOfTables }} tables</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="tables-container grid">
        <div class="col-4" *ngFor="let table of tables">

            <mat-card appearance="outlined" class="table " [ngClass]="{'table-available': !table.taken, 'table-taken': table.taken}">
              <mat-card-title>Table {{ table.number }}</mat-card-title>
              <mat-checkbox
                [(ngModel)]="table.selected"
                (change)="onSelectionChange()"
                [disabled]="table.taken || (selectedCount >= numberOfTables && !table.selected)">
              </mat-checkbox>
            </mat-card>
          </div>
       <button >Validate</button>

      </div>
    </mat-card-content>

  </mat-card>
</div>
