
.home-card {

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.tables-container{


}
.table{
  width: 150px;
  height: 150px;
  padding-left: 20px;
}
.taken {
  background-color: grey;
  color: white;
}

.available {
  background-color: green;
  color: white;
}
