<div *ngIf="menusData">
  <h1>Event Name {{ menusData.name }}</h1>
  <h2>Menus</h2>
  <div *ngFor="let menu of menusData.menu; let i=index">
    <button (click)="openmenu(i)"> {{ menu.name }} </button>
    <button (click)="removeMenu(menu)">Supprimer</button>
    <app-event-cart
      *ngIf="visibleCartIndex === i"
      [cart]="getItemForCart(menu)"
      [isVisible]="isVisible"
      (closePopupEvent)="closePopup()">
    </app-event-cart>

  </div>
  <button (click)="openDrinks()">  Boissons </button>
  <app-event-cart
    [cart]="getDrinks()"
    [isVisible]="isDrinksVisible"
    [isDrinks]="true"
    (closePopupEvent)= "closeDrinks()">
  </app-event-cart>


  <button (click)="validateMenus()">Valider les menus</button>
</div>
