
<mat-card appearance="outlined" class="commun-card">
  <mat-card-content>
    <div *ngIf="menusData">
      <h1 class="event-name-title mb-2">{{ menusData.name }} Event </h1>
      <h2 class="mt-4">Suggested Menus</h2>
      <div class="row">

      </div>
      <div *ngFor="let menu of menusData.menu; let i=index" >
        <button (click)="openmenu(i)" class="commun-buttons"> {{ menu.name }} </button>
        <button (click)="removeMenu(menu)" class="commun-buttons">Delete</button>
        <app-event-cart
          *ngIf="visibleCartIndex === i"
          [cart]="getItemForCart(menu)"
          [isVisible]="isVisible"
          (closePopupEvent)="closePopup()">
        </app-event-cart>

      </div>
      <button (click)="openDrinks()" class="commun-buttons">  Beverages </button>
      <app-event-cart
        [cart]="getDrinks()"
        [isVisible]="isDrinksVisible"
        [isDrinks]="true"
        (closePopupEvent)= "closeDrinks()">
      </app-event-cart>


      <button (click)="validateMenus()" class="commun-buttons validate" >Validate Event Menus</button>
    </div>
  </mat-card-content>
</mat-card>

