
.home-card {
  display: flex;
}
.container{

  margin-top: 30px;
  width: 100%;
}
.tables-container{
  display: flex;
  flex-wrap: wrap;

}
.tables-container .col-3 {
  flex: 0 0 25%; /* Takes up 25% of the row for four items */
  max-width: 25%; /* Ensures that each item doesn't exceed 25% */
  padding: 10px; /* Add padding for better spacing */
}
.table{
  width: 150px;
  height: 150px;
  padding-left: 20px;
}
.taken {
  background-color: grey;
  color: white;
}

.available {
  background-color: green;
  color: white;
}
.taken {
  background-color: grey; /* Couleur pour les tables prises */
  color: white;
}

.available {
  background-color: green; /* Couleur pour les tables disponibles */
  color: white;
}

.start-button {
  margin-top: 20px; /* Space above the button */
}