<div class="container">
  <mat-card class="home-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title class="mb-4">You can choose up to {{ numberOfTables }} tables</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="tables-container grid">
        <div class="col-3" *ngFor="let table of tables" style="padding: 10px;">
          <mat-card appearance="outlined" class="table" [ngClass]="{'taken': table.taken || table.selected, 'available': !table.taken && !table.selected}">
            <mat-card-title>Table {{ table.number }}</mat-card-title>
            <mat-checkbox
              [(ngModel)]="table.selected"
              (change)="onSelectionChange()"
              [disabled]="table.taken || (selectedCount >= numberOfTables && !table.selected)">
            </mat-checkbox>
          </mat-card>
        </div>
        
        <div class="col-12" style="text-align: center; margin-top: 20px;">
          <button
            class="start-button"
            mat-raised-button
            (click)="navigateToNextPage()"
            [disabled]="!canNavigate()"
          >Next</button>
        </div>
      </div>
      
    </mat-card-content>



  </mat-card>
</div>
