/* table-reservation.component.css */

.container {
  padding: 20px;

}

.tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 60px;

}

.table {
  width: 100%;
}

.taken {
  background-color: #aaaaaa; /* Couleur pour les tables réservées */
  color: white;
}

.available {
  background-color: #7d921c;/* Couleur pour les tables disponibles */
  color: white;
}

.start-button {
  margin-top: 20px;
  color: white;
  background-color: #4a90e2;;
}
.start-button:hover {
  background-color: #357ab6;
}
.custom-checkbox:checked {
  background-color: #7d921c;
  border-color: #7d921c;
}

.form-check-label {
  margin-left: 10px; /* You can adjust the value as needed */
}
