
<mat-drawer-container class="example-container">
  <mat-drawer class="side-bar" mode="side" opened>
    <app-header></app-header>
  </mat-drawer>
  <mat-drawer-content class="side-bar-content">
    <div class="menu-container">
      <div class="row">
        <div *ngFor="let item of items" class="col-12 col-sm-6 col-md-4 mb-4">
          <app-menu-item
            [item]="item"
            (quantityChanged)="handleQuantityChange($event)">
          </app-menu-item>
        </div>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>


<button *ngIf=" getClientNumber() !=1" class="copyButton" (click)="openCopyModal()" >
  Copy the order
</button>

<div class="cart" *ngIf="cart.items.length> 0" (click)="openPopup()">
  <h2>Your Cart</h2>
  <div class="cart-items">
    <div *ngFor="let item of cart.items" class="cart-item">
      <p>{{ item.shortName }} - Quantity: {{ item.quantity }}</p>
    </div>
  </div>
  <p>Total: {{ getTotal() }} €</p>
  <button (click)="validateCart()">Validate Cart</button>
</div>

<app-cart
  [cart]="cart.items"
  [isVisible]="isPopupVisible"
  (closePopupEvent)="closePopup()">
</app-cart>


<div class="modal" *ngIf="isCopyModalVisible">
  <div class="modal-content">
    <span class="close" (click)="closeCopyModal()">&times;</span>
    <h2>Copy the order</h2>
    <div class="copy-container">
      <div *ngFor="let client of othersOrders" class="client">
        <button (click)="getdetails(client)">Client {{ client.client }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isDetailModalVisible">
  <div class="modal-content">
<!--    <span class="close" (click)="closeDetailModal()">&times;</span>-->
    <h2>Details for Client P{{ selectedClient.client}}</h2>
    <div class="details-container">
      <ul>
        <li *ngFor="let item of selectedClient.items"> {{ item.shortName }} - {{ item.quantity }}</li>
      </ul>
      <p>Total: {{ calculateTotal(selectedClient.items) }}€</p>
      <button (click)="copyOrder()">Copy Order</button>
      <button (click)="closeDetailModal()">Back</button>
    </div>
  </div>
</div>


<div class="modal" *ngIf="orderValidated">
  <div class="modal-content">
    <h3>Your Order is validated !</h3>
    <h3>here is your Order Number:</h3>
    <h2>{{getorderNumber()}}</h2>
    <button (click)="navigateToHome()">OK</button>
  </div>
</div>
